.gallery {
  padding-bottom: 148px;
}

.gallery-content {
  &__btn {
    font-family: "Ruda";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;

    transition: background-color 250ms linear;

    &:hover,
    &:focus {
      background-color: rgba(137, 64, 255, 0.337254902);
    }
  }
}

.gallery-list {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  gap: 38px;

  &__item {
    position: relative;
    max-width: 388px;
    border-radius: 4px;
    padding: 24px;
    border: 1px solid rgba(197, 34, 228, 0.65);

    transform: scale(1);
    transition: transform 250ms linear;
    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.gallery-list-top {
  margin-bottom: 24px;
  display: flex;
  gap: 18px;

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__img {
    width: 92px;
    border-radius: 4px;
    &--active {
      width: 232px;
    }
  }

  &__border {
    border: 1px solid #ffffff;
    border-radius: 4px;

    background: rgba(0, 0, 0, 0.86);
  }

  &__views {
    position: absolute;
    bottom: 28px;
    right: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.37;

    color: $white;
  }
}

.gallery-list-bottom {
  display: flex;
  align-items: center;
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 12px;

    color: $white;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;

    color: $gray;
  }

  &__span {
    width: 20px;
    height: 20px;

    margin-left: auto;
  }
}
