body {
  font-family: "Open Sans", sans-serif;

  background-color: $main-bg;

  &.modal-open {
    overflow: hidden;
  }
}

main {
  padding-top: 221px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-family: "Ruda";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 56px;
  color: #fff;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;

  color: $white;
  background: linear-gradient(
    101.9deg,
    rgba(201, 34, 227, 0.4) 7.67%,
    rgba(153, 30, 234, 0.4) 52.66%,
    rgba(73, 23, 246, 0.4) 93.7%
  );
}
