.hero {
  padding-bottom: 207px;

  @include tablet {
    padding-bottom: 821px;
  }

  @include mobile {
    padding-bottom: 100px;
  }

  &__wrap {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__img {
    position: absolute;
    border-radius: 8px;

    &--big {
      width: 499px;
      left: 183px;
      bottom: -59px;

      @include desktop-min {
        z-index: -1;
        left: -30px;
      }

      @include tablet {
        bottom: -700px;
        left: 0;
      }
    }

    &--cat {
      width: 140px;
      left: 116px;
      top: -58px;

      @include desktop-min {
        left: 20px;
      }
      @include tablet {
        top: 300px;
        left: -100px;
      }
    }

    &--purple {
      width: 72px;
      left: 417px;
      top: -58px;

      @include desktop-min {
        display: none;
      }

      @include tablet {
        top: 100px;
        left: 50px;
      }
    }

    &--green {
      width: 248px;
      left: 468px;
      top: 0;

      @include desktop-min {
        left: 200px;
      }

      @include tablet {
        top: 100px;
        left: 300px;
      }
    }

    &--red {
      width: 130px;
      left: 586px;
      bottom: 20px;

      @include desktop-min {
        left: 330px;
      }

      @include tablet {
        bottom: -650px;
        left: 480px;
      }
    }
  }
}

.hero-left {
  position: relative;

  @include tablet {
    margin: 0 auto;
    text-align: center;
  }

  @include mobile {
    text-align: center;
    margin: 0 auto;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__title {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 64px;
    line-height: 1.28;
    margin-bottom: 12px;
    max-width: 452px;

    color: $white;
  }

  &__span {
    background: linear-gradient(
      259.74deg,
      #af25d3 75.33%,
      #9725d6 85.93%,
      #5e23d9 98.26%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 442px;

    color: $gray;

    @include mobile {
      font-size: 22px;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    margin-bottom: 76px;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    padding: 16px 32px;
    margin-right: 24px;

    transition: background-color 250ms linear;

    &:hover,
    &:focus {
      background-color: rgba(137, 64, 255, 0.337254902);
    }

    @include mobile {
      font-size: 24px;
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;

    &:hover,
    &:focus {
      .hero-left__watch::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      .hero-left__border-svg {
        border-radius: 8px;
      }
    }
  }

  &__border-svg {
    width: 56px;
    height: 56px;

    border-radius: 50%;
    border: 1px solid rgba(192, 34, 229, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-radius 250ms linear;

    @include mobile {
      width: 66px;
      height: 66px;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;

    @include mobile {
      width: 22px;
      height: 22px;
    }
  }

  &__watch {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;

    color: $white;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;

      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 250ms linear;

      background-color: #8a40ff;
    }

    @include mobile {
      font-size: 22px;
    }
  }
}

.hero-right {
  position: relative;
  width: 500px;
  @include desktop-min {
    margin-left: auto;
  }
  @include tablet {
    margin: 0 auto;
  }

  @include mobile {
    display: none;
  }
}

.hero-list {
  max-width: 499px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 24px 47px;

  background-color: rgba(255, 255, 255, 0.13);

  @include mobile {
    max-width: 367px;
    gap: 50px;
    padding: 24px 24px;
    flex-direction: column;
    margin: 0 auto;
  }

  &__item {
    max-width: 83px;
    text-align: center;

    @include mobile {
      max-width: 103px;
    }
  }

  &__span {
    font-family: "Ruda";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 10px;
    display: block;

    color: $white;

    @include mobile {
      font-size: 40px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;

    color: $gray;

    @include mobile {
      font-size: 20px;
    }
  }
}
