.history {
  padding-bottom: 148px;

  @include mobile {
    padding-bottom: 80px;
  }
}

.history-top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @include desktop-min {
    margin-bottom: 100px;
    justify-content: center;
  }

  @include tablet {
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
    justify-content: center;
  }

  @include mobile {
    flex-direction: column;
  }
  gap: 20px;

  &__wrap-btn {
    display: flex;

    @include tablet {
      display: flex;
      gap: 40px;
      flex-direction: row-reverse;
    }

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;

    color: $white;

    @include mobile {
      font-size: 38px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 291px;
    margin-left: 123px;

    color: $gray;

    @include tablet {
      margin-left: 0;
    }

    @include mobile {
      font-size: 20px;
      margin-left: 0;
      text-align: center;
    }
  }

  &__btn {
    position: relative;
    font-size: 18px;
    line-height: 1.1;
    margin-left: 123px;
    padding: 16px 32px;

    transform: scale(1);
    transition: transform 250ms linear;

    border: 1px solid rgba(234, 0, 173, 1);

    background: transparent;

    &:hover,
    &:focus {
      transform: scale(1.02);

      .history-top__svg {
        opacity: 1;
        top: 100px;
      }
    }

    @include tablet {
      margin-left: 0;
    }

    @include mobile {
      margin-left: 0;
      font-size: 24px;
    }
  }

  &__svg {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms linear, opacity 250ms linear, top 250ms linear;

    fill: $white;
  }
}

.history-bottom {
  display: flex;
  align-items: center;
  gap: 60px;
  overflow: hidden;

  @include desktop-min {
    justify-content: center;
  }

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

.history-left {
  position: relative;
  max-width: 614px;
  display: flex;
  align-items: center;
  gap: 60px;
  background: linear-gradient(
    112.28deg,
    rgba(198, 34, 228, 0.4) 2.22%,
    rgba(109, 26, 241, 0.4) 96.94%
  );

  @include mobile {
    gap: 0;
  }

  &__img {
    width: 379px;

    @include mobile {
      width: 320px;
    }
  }

  &__bgc {
    width: 176px;
    height: 160px;
    border-radius: 80px 0px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #232323;
  }

  &__border {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: rotate(-31.38deg);
    transition: transform 250ms linear;

    &:hover,
    &:focus {
      transform: rotate(0);
    }

    @include mobile {
      width: 120px;
      height: 120px;
    }
  }

  &__views {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;

    color: $gray;

    @include mobile {
      font-size: 28px;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;

    color: $gray;

    @include mobile {
      font-size: 18px;
    }
  }
}

.history-right {
  display: flex;
  gap: 60px;

  @include desktop-min {
    flex-direction: column;
  }

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    flex-direction: column;
    gap: 30px;
  }
  &__img {
    width: 240px;

    @include mobile {
      width: 280px;
    }
  }

  &__views {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;

    color: $gray;

    @include mobile {
      font-size: 24px;
    }
  }

  &__under-img {
    margin-top: 32px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 12px;
  }

  &__svg {
    @include mobile {
      width: 30px;
      height: 30px;
    }
  }
}
